.container{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-center{
    display: flex;
    align-items: center;
}

mat-card-header{
   color: #673ab7;
   margin-bottom: 25px;
}

mat-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-text{
    color: #673ab7;
    margin-top: 10px;
}