<div class="container">
    <mat-card class="card-center">
        <mat-card-header>
            <mat-card-title>Fill out the form to add post</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="outline">
                    <mat-label>Post title</mat-label>
                    <input matInput formControlName="postTitle">
                    <mat-error *ngIf="formGroup.get('postTitle')?.invalid">{{ getTitleErrorMessage() }}</mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="outline">
                    <mat-label>Post body</mat-label>
                    <input matInput formControlName="postBody">
                    <mat-error *ngIf="formGroup.get('postBody')?.invalid">{{ getBodyErrorMessage() }}</mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="outline">
                    <mat-label>Select user</mat-label>
                    <input matInput formControlName="postUser" type="number">
                    <mat-error *ngIf="formGroup.get('postUser')?.invalid">{{ getUserErrorMessage() }}</mat-error>
                </mat-form-field>
            </form>
            <button mat-raised-button class="button-text" [disabled]="formGroup.invalid" (click)="onAddPost()">Add new post</button>
        </mat-card-content>
    </mat-card>
</div>