.logo{
    padding-left: 5px;
    padding-bottom: 4px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.header{
    &-button{
        font-weight: bold;
        margin-left: 10px;
    }

    &-button-first{
        font-weight: bold;
        margin-left: 40px;
    }
}

mat-toolbar{
    position: sticky;
    top: 0;
    z-index: 1000;
}