<mat-toolbar color="primary">
    <a class="logo" routerLink="/">
        PostManager
    </a>
    <button mat-button class="header-button-first" routerLink="posts">Explore posts</button>
    <button mat-button class="header-button" routerLink="posts/add-post">Add post</button>
    <div class="likes-counter" > Total likes: {{ amountOfLikes }}</div>
    <button (click)="onProfile()" mat-button class="header-profile-button" routerLink="profile">Profile</button>
    <!-- <div mat-card-avatar class="header-profile-image"></div> -->
    <button
    *ngIf="!isLoggedIn"
    mat-raised-button
    class="header-login-button"
    (click)="onLogin()">Login</button>
    <button
    *ngIf="isLoggedIn"
    mat-raised-button
    class="header-login-button"
    (click)="onLogout()">Logout</button>
</mat-toolbar>