<div class="container">
    <mat-card *ngIf="!isLoggedInLocally">
        <mat-card-content>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="outline">
                    <mat-label>Login</mat-label>
                    <input type="text" matInput formControlName="login">
                    <mat-error *ngIf="formGroup.get('login')?.invalid"> Can not be empty </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                    <mat-error *ngIf="formGroup.get('password')?.invalid"> Can not be empty </mat-error>
                </mat-form-field>
            </form>
            <button mat-raised-button class="button-text" (click)="onLogin()">Login</button>
        </mat-card-content>
    </mat-card>
    <iframe id="iframe" src="http://localhost:5000" *ngIf="isLoggedInLocally" width="80%" height="80%"></iframe>
</div>
