.loading{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #673ab7;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postedBy{
    margin-right: 60px;
}

mat-card{
    align-items: center;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadein 0.3s ease;
}