<div *ngIf="isLoading" class="loading">Loading posts...</div>
<div *ngIf="!isLoading && posts.length > 0" class="container">
    <mat-card *ngFor="let post of posts">
        <mat-card-header>
            <mat-card-title>{{ post.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            {{ post.body }}
        </mat-card-content>
        <mat-card-actions>
            <div class="postedBy">Posted by user #{{ post.userId }}</div>
            <button mat-button [routerLink]="[post.id]">Comments</button>
        </mat-card-actions>
    </mat-card>
</div>