mat-card{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

    
.container{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.microsoft{
    display:flex;
    justify-content: center;
    margin-top: 10px;
}